:root { 
    --gray-clr: rgb(57, 57, 60);
    --white-clr: rgb(246, 246, 246);
    --blue-clr: rgb(124, 220, 241);
    --lime-clr: rgb(220, 255, 195);
    --black-clr: rgb(80, 80, 80);

    --red-clr: rgb(255, 38, 0);
    --yellow-clr: rgb(251, 241, 61);

    --main-fnt: 'Noto Sans', sans-serif;
    --display-fnt: 'Kanit', sans-serif;
}